
POSTRGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=exampledb
TEST_DB=testdb
POSTGRES_VERSION=17
CONFIG_SERVER_URL=http://localhost:8099
APPLICATION_PORT=8080