#Database
POSTRGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=exampledb
TEST_DB=testdb
POSTGRES_VERSION=17

# Application
APPLICATION_PORT=8080
ACTIVE_PROFILE=dev

#Another services
CONFIG_SERVER_URL=http://localhost:8099
EUREKA_SERVER_URL=http://localhost:8074/eureka/
ADMIN_SERVICE_URL=http://localhost:8040
CLOUD_PASSWORD=password
CLOUD_USER=user