ACTIVE_PROFILE=native
LOCAL_PATH=///C:/Users/User/Desktop/kafka-proyect-microservice/config-repo
APPLICATION_PORT=8075
EUREKA_SERVER_URL=http://localhost:8074/eureka/
ADMIN_SERVICE_URL=http://localhost:8040
CLOUD_PASSWORD=password
CLOUD_USER=tony